.history_list_container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  margin-bottom: 10px;
}

.filter input {
  margin-right: 10px;
}

.button_get {
  margin-top: 20px;
  width: 300px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}